body{
    padding: $padding_body;
    background: $color_theme1;
    background: linear-gradient(90deg, $color_theme1 0%, $color_theme2 50%, $color_theme3 100%);

    .fade:not(.show) {
        opacity: 1;
    }

    .alert {
        z-index: 2000;
    }
}
